.root {

    -brand-primary: #004893;
    -brand-secondary: #009EE3;
    -brand-tertiary: #99D8F4;

    -neutral-dark-gray-1: #505050;
    -neutral-dark-gray-2: #999999;
    -neutral-light-gray-1: #E0E0E0;
    -neutral-light-gray-2: #F3F3F3;

    -util-error: #EF3C2F;
    -util-positive: #00BD76;
    -util-warning: #EEBA2B;
    -util-neutral: #009EE3;

    -neutral-white: white;
    -neutral-black: black;
}

/*
 * Colum Selection Container
 */

.column-selection {
    -fx-background-color: white;
}

/*
 * Table Entry, Static left content
 */

.pseudo-table-entry-first {
    /*-fx-border-color: black;*/
    -fx-border-color: black transparent black black;
    -fx-border-style: dotted;
}

/* .pseudo-table-entry-first * */
.pseudo-table-entry-first .label,
.pseudo-table-entry-first TextFlow {
    -fx-border-color: black transparent transparent transparent;
    -fx-border-style: dotted;
    -fx-min-height: 32;
    -fx-padding: 0 0 0 16;
}

.pseudo-table-entry-first > .first {
    -fx-border-color: transparent transparent black transparent;
    -fx-background-color: -neutral-light-gray-1;
}

.pseudo-table-entry-first > .last {
    -fx-border-color: black transparent transparent transparent;
    -fx-border-style: dotted;
    /*-fx-min-height: 34;*/
}

.pseudo-table-entry-first VBox > .first {
    -fx-border-color: transparent;
}

.pseudo-table-entry-first VBox > .last {
    -fx-border-color: black transparent transparent transparent;
}

/*
 * Table Entry Container
 */

.pseudo-table-container {
    -fx-border-color: transparent transparent transparent black;
    -fx-border-style: dotted;
    -fx-padding: 0 -1 0 0;
}

/*
 * Table Entry
 */

.pseudo-table-entry {
    -fx-border-color: black black black transparent;
    -fx-border-style: dotted;
}

.pseudo-table-entry:selected {
    -fx-border-color: -brand-primary;
    -fx-border-style: solid;
}

/* .pseudo-table-entry * */
.pseudo-table-entry .label,
.pseudo-table-entry TextFlow {
    -fx-border-color: black transparent transparent transparent;
    -fx-border-style: dotted;
    -fx-min-height: 32;
}

.pseudo-table-entry > .first {
    -fx-border-color: transparent transparent black transparent;
    -fx-background-color: -neutral-light-gray-1;
    -fx-background-insets: 0 0 0 -1;
}

.pseudo-table-entry:selected > .first {
    -fx-background-color: -brand-tertiary;
    -fx-background-insets: 0 0 0 0;
}

.pseudo-table-entry > .last {
    -fx-border-color: black transparent transparent transparent;
    -fx-border-style: dotted;
    -fx-min-height: 32;
}

.pseudo-table-entry VBox > .first {
    -fx-border-color: transparent;
}

.pseudo-table-entry VBox > .last {
    -fx-border-color: black transparent transparent transparent;
}


/* TabPane Variant 1 */
/*
.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: -neutral-light-gray-1;
	-fx-background-radius: 2.0 2.0 0.0 0.0;
}
.tab-pane .tab-header-area .tab {
	-fx-background-color: -neutral-dark-gray-1;
    -fx-border-color: -neutral-dark-gray-1;
	-fx-border-insets: 2.0;
	-fx-background-insets: 1.0 1.0 -1.0 1.0;
}
.tab-pane .tab-header-area .tab .tab-label {
	-fx-text-fill: -neutral-white;	
}
.tab-pane .tab-header-area .tab:hover {
	-fx-background-color: -brand-secondary;
	-fx-border-color: -brand-secondary;
}
.tab-pane .tab-header-area .tab:armed,
.tab-pane .tab-header-area .tab:pressed,
.tab-pane .tab-header-area .tab:selected {
	-fx-background-color: -brand-secondary;
	-fx-border-color: -brand-secondary;
	-fx-border-width: 1.0 1.0 1.0 1.0;
}
.tab-pane .tab-header-area .tab:focused {
	-fx-background-color: -brand-tertiary;
}
.tab-pane .tab-header-area .tab:disabled {
	-fx-opacity: 1.0;
    -fx-background-color: -neutral-dark-gray-2;
    -fx-border-color: -neutral-dark-gray-2;
    -fx-text-fill: -neutral-white;
}
.tab-pane .tab-header-area .tab:armed .tab-label,
.tab-pane .tab-header-area .tab:pressed .tab-label,
.tab-pane .tab-header-area .tab:selected .tab-label {
	-fx-background-color: -brand-secondary;
	-fx-border-color: -brand-secondary;
}
.tab-pane .tab-header-area .tab:focused .tab-label {
	-fx-border-color: -brand-tertiary;
}

.tab-pane .tab-content-area {
	-fx-border-color: -neutral-light-gray-1;
	-fx-border-radius: 0.0 0.0 2.0 2.0;
	-fx-padding: 5.0;
}
/ * originally not needed, but taken into account for completeness * /
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0, 0; / * originally 1, 1 * /
    -fx-border-color: -brand-tertiary, -brand-secondary;
	-fx-border-insets: -4 -4 -6 -5, -2 -2 -5 -3;
	-fx-border-radius: 10, 1; / * looks sharper if outer border has a tighter radius (2 instead of 3) * /
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator {
	-fx-border-insets: -6 -5 -4 -4, -5 -3 -2 -2;
}
*/

/* TabPane Variant 2 */
.tab-pane .tab-header-border {
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #87b644;
}

.tab-pane {
    -fx-tab-min-width: 250px;
    -fx-tab-max-width: 250px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;
}

.tab {
    -fx-border-radius: 15 15 0 0;
    -fx-background-radius: 15 15 0 0;
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-content-area {
    -fx-border-radius: 0 0 15 15;
    -fx-border-width: 0 2 2 2;
    -fx-border-color: #87b644;
}

.tab-pane .tab {
    -fx-background-color: #87b644;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white white #87b644 white;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab:selected {
    -fx-border-width: 2 2 0 2;
    -fx-border-color: #87b644;
    -fx-background-color: #3c3c3c;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #87b644, #3c3c3c;
    -fx-background-insets: 0, 0 0 2 0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #3c3c3c;
    -fx-font-size: 24pt;
    -fx-font-weight: 200;
}

.tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #87b644;
}

/*
 * Split Menu Button
 */
.split-menu-button > .label:hover,
.split-menu-button > .arrow-button:hover {
    -fx-color: derive(lightblue, -50%); /*-fx-hover-base;*/
}

.split-menu-button:armed > .label,
.split-menu-button > .arrow-button:pressed,
.split-menu-button:showing > .arrow-button {
    -fx-color: darkblue; /*-fx-pressed-base;*/
}

.split-menu-button:disabled {
    -fx-opacity: 0.4;
}

.split-menu-button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.split-menu-button > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.25em;
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.split-menu-button:openvertically > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.split-menu-button {
    -fx-background-color: lightblue, lightblue; /*-fx-shadow-highlight-color, -fx-outer-border;*/
    -fx-background-insets: 0, 0; /*0 0 -1 0, 0;*/
    -fx-background-radius: 3, 3;
    -fx-padding: 0;
}

.split-menu-button > .label {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: lightblue; /*-fx-inner-border, -fx-body-color;*/
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333333em 0.667em 0.333333em 0.667em; /* 4 8 4 8 */
}

.split-menu-button > .arrow-button {
    -fx-background-color: lightblue; /*-fx-inner-border, -fx-body-color;*/
    -fx-background-insets: 1, 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em; /* 6 8 6 8 */
}

.split-menu-button:focused {
    -fx-background-color: lightblue; /*-fx-focus-color;*/
    -fx-background-insets: -0.2;
    -fx-background-radius: 3;
}

.split-menu-button:focused > .label {
    -fx-background-color: blue; /*-fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;*/
    -fx-background-insets: 1 0 1 1, 2 1 2 2, -1.4 0 -1.4 -1.4, 2.6 1.6 2.6 2.6;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 4 0 0 4, 0;
    /* --- */
    -fx-text-fill: derive(lightblue, 50%);
}

.split-menu-button:focused > .arrow-button {
    -fx-background-color: blue; /*-fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;*/
    -fx-background-insets: 1, 2, -1.4, 2.6;
    -fx-background-radius: 0 2 2 0, 0 1 1 0, 0 4 4 0, 0;
}